In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
df = pd.read_csv('/Users/megancui/Downloads/data-for-datafest-2019/wellness.csv')
df.head()

,Date,PlayerID,Fatigue,Soreness,Desire,Irritability,BedTime,WakeTime,SleepHours,SleepQuality,MonitoringScore,Pain,Illness,Menstruation,Nutrition,NutritionAdjustment,USGMeasurement,USG,TrainingReadiness
0,2018-07-21,1,3,3,2,3,23:00:00,07:00:00,8.00,2,13,No,No,Yes,Excellent,Yes,No,NaN,0%
1,2018-07-21,2,4,3,4,4,23:00:00,07:00:00,8.00,4,19,Yes,No,Yes,NaN,NaN,Yes,1.010,0%
2,2018-07-21,3,3,3,5,4,22:30:00,06:30:00,8.00,4,19,No,No,No,NaN,NaN,Yes,1.016,100%
3,2018-07-21,4,2,3,5,4,00:30:00,07:00:00,6.50,1,15,No,No,Yes,Excellent,Yes,Yes,1.025,95%
4,2018-07-21,5,5,3,4,4,23:45:00,07:00:00,7.25,4,20,No,No,No,Okay,Yes,Yes,1.022,100%

In [3]:
df.columns

Index(['Date', 'PlayerID', 'Fatigue', 'Soreness', 'Desire', 'Irritability',
       'BedTime', 'WakeTime', 'SleepHours', 'SleepQuality', 'MonitoringScore',
       'Pain', 'Illness', 'Menstruation', 'Nutrition', 'NutritionAdjustment',
       'USGMeasurement', 'USG', 'TrainingReadiness'],
      dtype='object')

In [4]:
df = df[['Date', 'PlayerID', 'Fatigue', 'Soreness', 'Desire', 'Irritability','SleepHours', 'SleepQuality', 'Pain', 'Illness', 'Menstruation']]
df.head()

,Date,PlayerID,Fatigue,Soreness,Desire,Irritability,SleepHours,SleepQuality,Pain,Illness,Menstruation
0,2018-07-21,1,3,3,2,3,8.00,2,No,No,Yes
1,2018-07-21,2,4,3,4,4,8.00,4,Yes,No,Yes
2,2018-07-21,3,3,3,5,4,8.00,4,No,No,No
3,2018-07-21,4,2,3,5,4,6.50,1,No,No,Yes
4,2018-07-21,5,5,3,4,4,7.25,4,No,No,No

In [5]:
df.loc[df['Pain'] == 'Yes', 'Pain'] = 1
df.loc[df['Pain'] == 'No', 'Pain'] = 0

In [6]:
df.head()

,Date,PlayerID,Fatigue,Soreness,Desire,Irritability,SleepHours,SleepQuality,Pain,Illness,Menstruation
0,2018-07-21,1,3,3,2,3,8.00,2,0,No,Yes
1,2018-07-21,2,4,3,4,4,8.00,4,1,No,Yes
2,2018-07-21,3,3,3,5,4,8.00,4,0,No,No
3,2018-07-21,4,2,3,5,4,6.50,1,0,No,Yes
4,2018-07-21,5,5,3,4,4,7.25,4,0,No,No

In [7]:
df.loc[df['Illness'] == 'Slightly Off', 'Illness'] = 1
df.loc[df['Illness'] == 'No', 'Illness'] = 0

In [8]:
df.head()

,Date,PlayerID,Fatigue,Soreness,Desire,Irritability,SleepHours,SleepQuality,Pain,Illness,Menstruation
0,2018-07-21,1,3,3,2,3,8.00,2,0,0,Yes
1,2018-07-21,2,4,3,4,4,8.00,4,1,0,Yes
2,2018-07-21,3,3,3,5,4,8.00,4,0,0,No
3,2018-07-21,4,2,3,5,4,6.50,1,0,0,Yes
4,2018-07-21,5,5,3,4,4,7.25,4,0,0,No

In [9]:
df.loc[df['Menstruation'] == 'Yes', 'Menstruation'] = 1
df.loc[df['Menstruation'] == 'No', 'Menstruation'] = 0

In [10]:
df.head(30)

,Date,PlayerID,Fatigue,Soreness,Desire,Irritability,SleepHours,SleepQuality,Pain,Illness,Menstruation
0,2018-07-21,1,3,3,2,3,8.00,2,0,0,1
1,2018-07-21,2,4,3,4,4,8.00,4,1,0,1
2,2018-07-21,3,3,3,5,4,8.00,4,0,0,0
3,2018-07-21,4,2,3,5,4,6.50,1,0,0,1
4,2018-07-21,5,5,3,4,4,7.25,4,0,0,0
5,2018-07-21,7,2,2,5,4,9.00,3,0,0,0
6,2018-07-21,10,2,2,4,4,7.25,3,0,1,0
7,2018-07-21,11,4,3,6,4,8.00,3,0,1,0
8,2018-07-21,13,4,3,5,4,8.00,4,0,0,0
9,2018-07-21,14,3,3,4,4,8.75,4,0,0,0
10,2018-07-21,15,4,3,6,5,8.50,7,0,0,0
11,2018-07-21,16,3,2,5,3,8.00,2,0,0,0
12,2018-07-20,1,3,4,3,4,8.00,2,0,0,1
13,2018-07-20,2,4,4,5,4,9.00,3,1,0,1
14,2018-07-20,3,4,4,6,4,8.00,4,0,0,0
15,2018-07-20,4,4,5,6,4,8.00,3,0,0,1
16,2018-07-20,5,5,6,6,5,7.25,5,0,0,0
17,2018-07-20,7,3,4,4,4,9.00,4,0,0,0
18,2018-07-20,10,3,4,4,4,8.50,3,0,1,0
19,2018-07-20,11,4,4,6,4,8.25,4,0,1,0
20,2018-07-20,13,4,4,5,4,8.50,4,0,0,0
21,2018-07-20,14,3,4,7,4,8.50,4,0,0,0
22,2018-07-20,15,5,6,6,5,9.00,7,0,0,0
23,2018-07-20,16,4,4,5,5,9.00,4,0,0,0
24,2018-07-19,1,4,4,3,4,9.50,5,0,0,1
25,2018-07-19,2,4,4,5,4,9.75,5,1,0,1
26,2018-07-19,3,4,4,4,4,8.00,4,0,0,0
27,2018-07-19,4,4,6,6,4,9.00,4,0,0,1
28,2018-07-19,6,4,3,4,5,8.25,3,0,0,0
29,2018-07-19,7,3,4,4,4,9.50,4,0,0,0

In [11]:
nRows, nCols = df.shape
print(nRows,"rows")
print(nCols,"columns")

5011 rows
11 columns

In [17]:
df1=df

In [61]:
col = ['Fatigue','Soreness','Desire','Irritability','SleepQuality']
ID_num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]

In [74]:
from sklearn import preprocessing
for num in ID_num:
    df1.loc[df1['PlayerID'] == num,'Fatigue']  = 100*preprocessing.normalize([df1.loc[df1['PlayerID'] == num]['Fatigue']])[0]

In [77]:
for num in ID_num:
    df1.loc[df1['PlayerID'] == num,'Soreness']  = 100*preprocessing.normalize([df1.loc[df1['PlayerID'] == num]['Soreness']])[0]

In [78]:
for num in ID_num:
    df1.loc[df1['PlayerID'] == num,'Desire']  = 100*preprocessing.normalize([df1.loc[df1['PlayerID'] == num]['Desire']])[0]

In [79]:
for num in ID_num:
    df1.loc[df1['PlayerID'] == num,'Irritability']  = 100*preprocessing.normalize([df1.loc[df1['PlayerID'] == num]['Irritability']])[0]

In [80]:
for num in ID_num:
    df1.loc[df1['PlayerID'] == num,'SleepQuality']  = 100*preprocessing.normalize([df1.loc[df1['PlayerID'] == num]['SleepQuality']])[0]

In [81]:
df1

,Date,PlayerID,Fatigue,Soreness,Desire,Irritability,SleepHours,SleepQuality,Pain,Illness,Menstruation
0,2018-07-21,1,5.833800,4.885320,4.108240,4.161052,8.00,2.989072,0,0,1
1,2018-07-21,2,5.531599,4.667600,5.165269,5.145998,8.00,5.047545,1,0,1
2,2018-07-21,3,4.718124,4.954112,7.596714,5.384307,8.00,5.458494,0,0,0
3,2018-07-21,4,3.338903,4.668731,7.123982,6.087215,6.50,1.751692,0,0,1
4,2018-07-21,5,8.048827,4.775762,5.651206,6.187622,7.25,6.404305,0,0,0
5,2018-07-21,7,3.424437,3.413944,7.024163,5.780130,9.00,4.120040,0,0,0
6,2018-07-21,10,3.554467,3.517988,5.718372,5.676758,7.25,5.303301,0,1,0
7,2018-07-21,11,7.817631,5.784224,9.295904,5.857702,8.00,4.855793,0,1,0
8,2018-07-21,13,6.041221,5.266401,6.685113,5.324349,8.00,5.439786,0,0,0
9,2018-07-21,14,5.329177,5.511317,5.801978,6.438228,8.75,5.762110,0,0,0
10,2018-07-21,15,6.168463,4.786692,8.914606,7.432120,8.50,8.328613,0,0,0
11,2018-07-21,16,5.810201,3.348248,7.201143,4.331932,8.00,3.135351,0,0,0
12,2018-07-20,1,5.833800,6.513760,6.162360,5.548069,8.00,2.989072,0,0,1
13,2018-07-20,2,5.531599,6.223467,6.456587,5.145998,9.00,3.785658,1,0,1
14,2018-07-20,3,6.290832,6.605482,9.116057,5.384307,8.00,5.458494,0,0,0
15,2018-07-20,4,6.677806,7.781218,8.548778,6.087215,8.00,5.255077,0,0,1
16,2018-07-20,5,8.048827,9.551525,8.476809,7.734528,7.25,8.005381,0,0,0
17,2018-07-20,7,5.136655,6.827887,5.619330,5.780130,9.00,5.493386,0,0,0
18,2018-07-20,10,5.331701,7.035975,5.718372,5.676758,8.50,5.303301,0,1,0
19,2018-07-20,11,7.817631,7.712299,9.295904,5.857702,8.25,6.474391,0,1,0
20,2018-07-20,13,6.041221,7.021868,6.685113,5.324349,8.50,5.439786,0,0,0
21,2018-07-20,14,5.329177,7.348423,10.153462,6.438228,8.50,5.762110,0,0,0
22,2018-07-20,15,7.710579,9.573385,8.914606,7.432120,9.00,8.328613,0,0,0
23,2018-07-20,16,7.746935,6.696495,7.201143,7.219887,9.00,6.270702,0,0,0
24,2018-07-19,1,8.220354,6.513760,6.162360,5.548069,9.50,7.472681,0,0,1
25,2018-07-19,2,5.531599,6.223467,6.456587,5.145998,9.75,6.309431,1,0,1
26,2018-07-19,3,6.290832,6.605482,6.077371,5.384307,8.00,5.458494,0,0,0
27,2018-07-19,4,6.677806,9.337461,8.548778,6.087215,9.00,7.006769,0,0,1
28,2018-07-19,6,6.561787,5.268837,6.207709,7.778392,8.25,4.547021,0,0,0
29,2018-07-19,7,5.136655,6.827887,5.619330,5.780130,9.50,5.493386,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4981,2017-08-03,3,6.290832,4.954112,6.077371,5.384307,8.00,5.458494,0,0,0
4982,2017-08-03,4,5.008354,3.112487,5.699185,6.087215,8.50,7.006769,0,0,0
4983,2017-08-03,5,6.439062,4.775762,5.651206,7.734528,8.50,6.404305,1,0,0
4984,2017-08-03,6,4.921340,5.268837,7.759636,6.222714,8.75,7.578368,0,0,0
4985,2017-08-03,8,5.906030,6.183185,7.105255,7.461048,9.75,5.446337,0,1,0
4986,2017-08-03,9,8.030754,8.491227,8.006408,7.992189,10.50,9.279055,0,0,0
4987,2017-08-03,10,5.331701,1.758994,5.718372,5.676758,8.75,3.535534,1,0,0
4988,2017-08-03,11,5.863223,5.784224,6.197269,5.857702,8.50,6.474391,0,0,0
4989,2017-08-03,12,6.853899,8.434690,8.159528,6.560022,7.00,5.389898,0,0,1
4990,2017-08-03,13,6.041221,5.266401,5.348091,5.324349,8.50,4.079839,0,0,0
4991,2017-08-03,14,7.105569,5.511317,8.702967,8.047785,9.50,7.202637,0,0,0
4992,2017-08-03,15,7.710579,6.382256,7.428838,7.432120,8.50,5.949009,0,0,1
4993,2017-08-02,2,5.531599,9.335201,7.747904,6.432498,9.25,3.785658,0,0,1
4994,2017-08-02,3,6.290832,6.605482,6.077371,5.384307,8.00,5.458494,0,0,0
4995,2017-08-02,5,6.439062,4.775762,7.064007,6.187622,8.00,6.404305,1,0,0
4996,2017-08-02,8,5.906030,7.728982,8.526306,8.704556,9.50,6.807921,0,1,0
4997,2017-08-02,10,5.331701,3.517988,5.718372,5.676758,8.75,3.535534,1,0,0
4998,2017-08-02,11,5.863223,5.784224,6.197269,5.857702,8.00,4.855793,0,0,0
4999,2017-08-02,12,6.853899,6.747752,8.159528,6.560022,8.75,5.389898,0,0,1
5000,2017-08-02,13,6.041221,5.266401,5.348091,5.324349,9.00,5.439786,0,0,0
5001,2017-08-02,14,7.105569,5.511317,7.252473,6.438228,9.50,4.321582,0,0,0
5002,2017-08-01,2,6.914498,7.779334,7.747904,7.718997,7.00,6.309431,0,0,0
5003,2017-08-01,3,6.290832,6.605482,6.077371,5.384307,8.00,5.458494,0,0,0
5004,2017-08-01,5,4.829296,7.959604,8.476809,7.734528,4.00,6.404305,0,0,0
5005,2017-08-01,6,6.561787,10.537674,9.311563,6.222714,7.00,9.094041,0,0,0
5006,2017-08-01,8,8.859044,10.820574,9.947357,8.704556,6.50,8.169506,0,0,0
5007,2017-08-01,10,5.331701,7.035975,5.718372,5.676758,6.75,5.303301,0,0,0
5008,2017-08-01,12,8.567373,6.747752,8.159528,6.560022,7.50,5.389898,0,0,1
5009,2017-08-01,13,6.041221,7.021868,5.348091,5.324349,7.50,5.439786,0,0,0
5010,2017-08-01,14,7.105569,7.348423,7.252473,8.047785,8.00,8.643165,0,0,0